<div class="sidebar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" [ngClass]="currentUrl==''?'active':''" id="v-pills-home-tab" data-toggle="pill"
           routerLink="" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" [ngClass]="currentUrl=='place'?'active':''" id="v-pills-profile-tab" data-toggle="pill"
           routerLink="place" role="tab"
           aria-controls="v-pills-profile" aria-selected="false">Place</a>
    </div>
</div>